
<div id="messages" class="alert alert-success" data-ng-show="messages" data-ng-bind="messages"></div>


<div ng-controller="CreatePizzaCtrl">

  <form class="simple-form" ng-submit="submit(userForm.$valid)" name=
  "makePizzaForm" novalidate>
  <fieldset class="form-group">
    <label for="name">Pizza Name:</label> 
    <input type="text" name="name" ng-model="pizza.name" class="form-control" required/>
    <p ng-show="makePizzaForm.name.$invalid && !makePizzaForm.name.$pristine">Your pizza needs a name!</p>
  </fieldset>

  <fieldset class="form-group">
    <label for="price">Pizza Price:</label> 
    <input type="number" name="price" ng-model="pizza.price"  class="form-control" />
  </fieldset>

  <fieldset class="form-group">
    <label for="toppings">Toppings:<br /><small>(hold down ctrl to select multiple)</small></label>
    <!-- to do, list selected pizza toppings here {{ pizza.toppings | json }} -->
    <div ng-controller="ToppingCtrl">
      <select name="toppings" id="toppingsSelect" ng-model="pizza.toppings" multiple class="form-control">
        <option ng-repeat="topping in toppings" value="{{ topping }}">{{topping.name}}</option>
      </select>
    </div>
  </fieldset>

  <fieldset class="form-group">
    <button type="button" class="btn btn-primary" ng-click="resetForm()">Reset</button>
    <button type="button" class="btn btn-primary" ng-click="submit()" ng-disabled="makePizzaForm.$invalid">Save</button>
  </fieldset>

  </form>

</div>
